# Project Files
*.sln
*.tlog
*.vcxproj*
x64/*

# Build results
[Dd]ebug/
[Bb]uildSettings/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#VC++ dll libraries
*.exp
*.pdb
*.ilk
build/*

# Executables
*.exe
*.out
*.app

build/*
!build/readme.md
assets/*
compiledAssets/*
settings.ini
log/*
*.log

# vcpkg
vcpkg_installed/*

# Visual Studio
.vs/*

# Visual Studio Code
.vscode/*
!.vscode/launch.json

# Cmake
.cmake/*
*CMakeCache.txt
*cmake_install.cmake
*CTestTestfile.cmake
*CMakeFiles*

# Makefiles
Makefile
*/Makefile
