# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#VC++ dll libraries
*.exp
*.pdb
*.ilk
bin/*

# Executables
*.exe
*.out
*.app
Grindstone

# Dependencies
Sources/include/
Sources/lib/
Sources/Obj/

bin/*
!bin/readme.md
.vscode/*
assets/*
!assets/models/sphere.obj
!assets/scenes/terrain.json
!assets/scenes/sponza.json
!assets/shaders/
sources/include/*
~sources/include/stb_image_write.h
~sources/include/stb_image.h
!assets/materials/heightmaps/height.png
!assets/materials/ssaoNoise.png
!assets/materials/grindstone.png
assets/shaders/objects/backup/*
settings.ini

# Cmake
*CMakeCache.txt
*cmake_install.cmake
*CTestTestfile.cmake
*CMakeFiles*
*Makefile
*makefile