# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#VC++ dll libraries
*.exp
*.pdb
*.ilk
build/*

# Executables
*.exe
*.out
*.app
Grindstone

# Dependencies
Sources/include/
Sources/lib/
Sources/Obj/

build/*
!build/readme.md
.vs/*
.vscode/*
assets/*
settings.ini
log/*

# Cmake
*CMakeCache.txt
*cmake_install.cmake
*CTestTestfile.cmake
*CMakeFiles*
Makefile
*/Makefile
output.log